sentence-transformers>=2.4.0
transformers>=4.35.0
torch>=2.0.0

faiss-cpu>=1.7.4

lightgbm>=4.0.0
scikit-learn>=1.2.0

pandas>=2.0.0
numpy>=1.24.0
tqdm>=4.65.0
joblib>=1.2.0

sqlalchemy>=2.0.0

fastapi>=0.110.0
uvicorn>=0.27.0
pydantic>=2.0.0
jieba>=0.42.1

# SSL
python-certifi-win32>=0.1.6
certifi>=2024.2.22